#home-parent{
    border: 2px solid red;
}
#search-movie{
    border: 2px solid rgb(29, 181, 18);
    /* margin-bottom: 30%; */

}

#search-bg{
    border: 2px solid purple;
    height: 350px;
    margin: 0 15%;
    position: relative;
    backdrop-filter: blur(1px);
    /* display: inline-block; */
}

.bg-img{
    height: 350px;
    width: 100%;
    /* backdrop-filter: blur(1px); */
}

.search-box{
    width: 45%;
    height: 42px;
    border: 2px solid olivedrab;
    border-radius: 60px;
    padding-left: 20px;
    position: absolute;
    margin: -10% 25% 0 25%;
    background-color: rgb(59,59,59);

    /* z-index: ; */
}

.search-btn{
    width: 6%;
    height: 30px;
    margin: -9.5% 5% 0 65%;
    position: absolute;
    border-radius: 60px;
    cursor: pointer;


}

#sorting{
    border: 2px solid blue;
    height: 50px;
    margin-top: 2%;
}

/* --------------added----------------------------------------- */
#sorting{
    margin: 2% 15%;
}
#sorting > button{
    width: 20%;
    height: 40px;
    margin: 0 3% 0 70%;
}

#addedm{
    border: 2px solid green;
    margin: 2% 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.display-allmovies{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    padding: 4%;
    border-radius: 10px;
    background-color: #0c0a0a;
}

#postpic{
    height: 340px;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

/* ------------------------------------------------- */












#trending{
    border: 2px solid blue;
}

#display-effect{
    border: 2px solid orange;
}

#shows{
    border: 2px solid rgb(54, 4, 12);
}

#res-movies{
    border: 2px solid rgb(6, 18, 6);
}