#home-parent{
    border: 0px solid red;
}

#link-tr{
    text-decoration: none;
    color: #fff;
}
#search-movie{
    border: 0px solid rgb(29, 181, 18);
    /* margin-bottom: 30%; */

}

#search-bg{
    /* border: 2px solid purple; */
    height: 350px;
    margin: 0 15%;
    position: relative;
    backdrop-filter: blur(1px);
    /* display: inline-block; */
}

.bg-img{
    height: 350px;
    width: 100%;
    /* backdrop-filter: blur(1px); */
}

.search-box{
    width: 45%;
    height: 42px;
    border: 2px solid #2f2c2c;
    border-radius: 60px;
    padding-left: 20px;
    position: absolute;
    margin: -10% 25% 0 25%;
    background-color: rgb(59,59,59);
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* z-index: ; */
}

.search-btn{
    width: 6%;
    height: 30px;
    margin: -9.5% 5% 0 65%;
    position: absolute;
    border-radius: 60px;
    cursor: pointer;
    background: linear-gradient(to right, 
        RGB(68 13 173),
        RGB(99 10 152),
        RGB(235 65 234)
      );
      color: #fff;
      /* font-size: 20px; */
      border: none;


}

#sorting{
    /* border: 2px solid blue; */
    /* height: 50px; */
    margin-top: 2%;
    display: flex;
    gap: 4%;
    justify-content: end;
    /* border: 2px solid red; */
    margin: 2% 15%;

}

/* --------------added----------------------------------------- */

/* #sorting > button{
    width: 20%;
    height: 40px;
    margin: 0 3% 0 70%;
} */

#addedm{
    /* border: 2px solid green; */
    margin: 2% 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
#addedm1{
    /* border: 2px solid green; */
    margin: 2% 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.display-allmovies{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    padding: 4%;
    border-radius: 10px;
    background-color: #0c0a0a;
    margin-bottom: 4%;
}

#postpic{
    height: 340px;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

/* ------------------------------------------------- */

#post-image > p{
    font-size: large;
    padding-bottom: 2%;
    margin-top: 2%;
}








/* ----------------------- */ */
/* #sorting{
    display: flex;
    gap: 4%;
    justify-content: end;
    border: 2px solid red;
} */

/* #sorting select{
    display: block;
    width: 20%;
    border: 2px solid red;
    height: 30px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
} */
/* .op{
} */
.dis-movies option{
    /* height: 98px; */
    font-size: 17px;
    padding: 15px;

}